@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: radial-gradient(
    farthest-corner at 0px 0px,
    #fdd8d9 0%,
    #f9bebf 50%,
    #f6a6a8 100%
  );
}

.container {
  background-color: #c9414d;
  color: white;
  padding: 2rem;
  border-radius: 10px;
}

.containerimagem {
  width: 100%;
  display: flex;
  justify-content: center;
}

h1 {
  text-align: center;
}

img {
  width: 50%;
  height: 50%;
}
a {
  display: block;
  color: white;
  font-weight: bolder;
  text-align: center;
  align-self: center;
  margin-bottom: 2rem;
}
