@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
body {
  background: #f7f7f7;
  display: flex;
  margin: 0px;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  font-family: "Open Sans", sans-serif;
  gap: 10px;
}
.cabecalho {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #094a8e;
  width: 100%;
  height: 30vw;
  vertical-align: center;
  text-align: center;
}
.titulo {
  background-color: #094a8e;
  color: white;
}

.links {
  display: flex;
}
.marcas {
  align-items: center;
  justify-items: center;
  margin: 0px;
  padding: 0px;
  height: 440px;
  width: 360px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
.marca {
  height: 95%;
  width: 95%;
  border-radius: 25px;
  overflow: hidden;
}

.bicicleta {
  background-image: linear-gradient(to left, #beece3, #a2cbf5);
}

.beleza {
  background-color: #fefaef;
  border-radius: 25px;

  overflow: hidden;
}

.foguetinho {
  background-color: #545454;
  border-radius: 25px;
  overflow: hidden;
}

.img {
  height: 100%;
  width: 100%;
}
.footer {
  height: 10vh;
  width: 100%;
  background: #f7941d;
  position: absolute;
  bottom: 0;
  left: 0;
}
.sporty {
  background-image: linear-gradient(to right, #000001, #3432ca);
  border-radius: 25px;
}
